build/
.vscode/
.cache/
.clangd

# Fortran code
fortran/RUN/*.x
*.o
*.mod

# simulation output files
*.dat
*.log
*.vtk


benchmark/
.bgk2d_venv/our_builds/

# Local generated/build folders
our_builds/
python_binding_extension/dpctl_examples/miniLB_step_pybind11_kernels copy/
